/**
 *
 * Main CSS for Kaggua website
 * Written & developed by Mark Webster 2022
 * https://mwebster.online
 */


:root {
  --color-corporateBlue: #242651;
  --color-skyBlue: #203C89;  /* #203C89  #04488b */
  --color-oranges: #fbbc40;
  --color-sanFrancisco: #e8412d;
  --color-lightBlue: #667f99;
  --color-lightOrange: #fff2dd;
}

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'IBM-Light';
  word-wrap: break-word;
  font-kerning: normal;
  margin: 0px;
  height: auto;
  width: 100%;
  
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

button {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}

.page-links-button{
  font-family: 'IBM-Bold';
  border: 1px solid  white;
  background-color: var(--color-skyBlue);
  color: white;
  border-radius: 0.15rem;
  font-size: 0.85em;
  text-transform: uppercase;
  margin: 0.25em;
  padding: 5px 15px 5px 15px;
}

.page-links-button:hover{
  cursor: pointer;
  color: var(--color-sanFrancisco);
}

input p {
  margin: 0;
}


main {
  /* top | right | bottom | left */
  /*padding: 100px 30px 20px 30px;*/
  padding: 5% 5% 2% 5%;
}


h1{
  font-family: 'IBM-Bold';
  font-size: 2.45em;
  margin: 0px;
  color: var( --color-skyBlue);
}

h2{
  font-size: 1.75em;
  margin: 0px;
}


.navLogo {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 85px;
  top: 36px;
  z-index: 5;
}



.subTitle{
  font-family: 'IBM-Italic';
  font-size: 1.35em;
  color: var(--color-sanFrancisco);
}


.gradient-red {
  width: 350px;
  height: 8px;
  background-color: var(--color-sanFrancisco); /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, var(--color-sanFrancisco) , var(--color-oranges));
}

.gradient-blue-home {
  width: 100%;
  height: 8px;
  margin-top: 20px;
  background-color: var(--color-skyBlue); /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, var(--color-skyBlue) , var(--color-sanFrancisco));
}

.gradient-blue {
  width: 350px;
  height: 8px;
  margin-top: 20px;
  background-color: var(--color-skyBlue); /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, var(--color-skyBlue) , var(--color-sanFrancisco));
}

.gradient-green {
  width: 350px;
  height: 8px;
  background-color: var(--color-oranges); /* For browsers that do not support gradients */
  background-image: linear-gradient(to left, var(--color-oranges) , var(--color-skyBlue) );
}

.gradient-green-blue {
  width: 350px;
  height: 8px;
  background-color: var(--color-sanFrancisco); /* For browsers that do not support gradients */
  background-image: linear-gradient(to left, var(--color-sanFrancisco) , var(--color-oranges));
}



/**
   * HOME PAGE >>>>>>>>
   */
.home-page {
  color: var(--color-skyBlue);
  /*background-color: var( --color-lightOrange);*/
  background-color: white;
}

.home-main-content {
  font-size: 1.25em;
  margin-top: 175px;
  margin-left: 10%;
  margin-right: 10%;
  max-width: 1880px;
}
.home-main-content h1 {
  color: var(--color-corporateBlue);
}

.home-main-content h2 {
  font-family: 'IBM-Light';
  font-size: 1.5em;
  color: var(--color-corporateBlue);
}

.slogan{
  font-family: 'IBM-Italic';
  line-height: 1.125em;
  width: 65%;
  margin-top: 125px;
  margin-bottom: 65px;
  line-height: 1.125em;
}


/* HOME PAGE >>>>>>>>>>>>>>>>>>>>>>>>>>>> END */


/**
   * Identity PAGE >>>>>>>>
   */
.identity-page {
  color: var(--color-skyBlue);
  /*background-color: #fff2dd;*/
  background-color: white;
}


/* IDENTITY PAGE >>>>>>>>>>>>>>>>>>>>>>>> END */


/**
   * SERVICES PAGE >>>>>>>>
   */
.services-page {
  color: var(--color-skyBlue);
  /*background-color: #fff2dd;*/
  background-color: white;

}

.services-main-content {
  font-size: 1.25em;
}

/* SERVICES PAGE >>>>>>>>>>>>>>>>>>>>>> END */

/**
   * MODALITY PAGE >>>>>>>>
   */
.modality-page {
  color: var(--color-skyBlue);
  /*background-color: #fff2dd;*/
  background-color: white;

}

.modality-main-content {
  font-size: 1.25em;
}

/* MODALITY PAGE >>>>>>>><>>>>><>>>>>>>> END */

/**
   * ACTUALITY PAGE >>>>>>>>
   */
.news-page {
  color: var(--color-skyBlue);
  /*background-color: #fff2dd;*/
  background-color: white;

}
/* ACTUALITY PAGE >>>>>>>>>>>>>>>>>>>>>> END */

.legal-page{
    margin-top: 175px;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 1080px;

}

.legal-page p{
  font-family: 'IBM-Light';
  font-size: 1.25em;
  color: var( --color-skyBlue);
}
.legal-page h4{
  font-family: 'IBM-Bold';
  color: var( --color-skyBlue);
  font-size: 1.75em;
  margin: 0;
  margin-bottom: 10px;
}

.legal-page ul{
  font-family: 'IBM-italic';
  color: var( --color-skyBlue);
  list-style-type: square;
  font-size: 1.20em;
}



/**
 * LINKS 
 */

 a:link{
    color: var(--color-sanFrancisco);
 }

 a:hover{
  color: var(--color-oranges);
 }

/**
   * Mobile App 
   */

@media only screen and (max-width: 1024px) {
  main {
    padding: 50px 5px 10px 100px;
  }
  .slogan{
    font-size: 2.25em;
    width: 85%;
    margin-top: 125px;
    margin-bottom: 65px;
    line-height: 1.125em;
  }


}

@media only screen and (max-width: 480px) {
   /* top | right | bottom | left */
  main {
    padding: 0px 5px 10px 10px;
  }

  .navLogo {
    position: absolute;
    width: 85px;
    height: 85px;
    left: 5px;
    top: 26px;
    z-index: 5;
  }

  .gradient-blue{
    width: 100%;
  }

  .gradient-red {
    width: 100%;
  }
  .gradient-green{
    width: 100%;
  }

  .gradient-green-blue{
    width: 100%;
  }

  .home-main-content {
    font-size: 1.35em;
    margin: 0;
  }

  .home-main-content p {
    line-height: 1.15em;
    margin-bottom: 1.15em;
  }

  .home-main-content h2{
      font-size: 1.05em;
  }

  .slogan{
    font-family: 'IBM-Italic';
    font-size: 1.25em;
    width: 90%;
    margin-top: 155px;
    margin-bottom: 35px;
  }
  .legal-page{
    margin: 0;
    margin-top: 155px;
    width: 100%;
    font-size: 17px;
    line-height: 1.5em;
    
  }

  .page-links-button{
    font-size: 0.5em;
    text-transform: uppercase;
    margin: 0;
    padding: 5px;
    margin-left: 15px;
    height: 25px;
  }
}



@font-face {
  font-family: 'IBM-Light';
  src: url('../fonts/IBMPlexSans-Light.otf') format("opentype");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'IBM-Bold';
  src: url('../fonts/IBMPlexSans-Bold.otf') format("opentype");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'IBM-Italic';
  src: url('../fonts/IBMPlexSans-MediumItalic.otf') format("opentype");
  text-rendering: optimizeLegibility;
}