/**
* Main GUI css
*/


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

:root {
    /* Kaggua Brand Colours */
    --brand-primary: #242651;
    --brand-secondary: #fbbc40;
    --brand-secondary--inverted: #fbbc40;
    --brand-bg-light: #fcecce;

    /* Typography */
    --font-family-sans-serif: 'IBM Plex Sans';
    --font-size-base: 1rem; /* 16px */
    --text-color: var(--brand-primary);
    


    /* Main Navigation */
  --main-navigation-color: var( --brand-secondary);
  --main-navigation-color--inverted: #361da5;
  

  /* Input */
  --card-focus-ring-color: red;

  --component-bg: white;
  --component-text-color: var( --brand-primary);
  --component-border-color: green;
   
}