/**
 * NEWS/ARTICLES PAGE STYLING
 */



.articles-main-content{
    margin-top: 175px;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 1880px;
}

 .image-panels{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:45px;
    padding: 0px;
    position: relative;
    width: 100%;
    margin-top: 100px;
}

.image-panel-img{
    width: 100%;
    object-fit: cover;
}

.image-panel-img img{
   width: 100%;
   height: 400px;
   object-fit: cover;
}


.image-panel-item{
    max-height: 480px;
    box-sizing: border-box;
}

li{
    list-style-type: none;
    list-style: none;
}

.news-info{
    margin-top: 15px;
}

.news-info a{
    text-decoration: none;
}

a:link, a:visited {
    color: black;
}

.news-info h2{
    font-family: 'IBM-Bold';
    font-size: 1.5em;
    line-height: 1.15em;
}

.authors {
    display: inline;
}
.authors p{
    display: inline;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

.metaTag {
    padding:0;
}

.metaTag p {
    display: inline;
    text-decoration: underline;
    color: var( --color-sanFrancisco);
    margin: 0;
    margin-top: 5px;
    padding: 0;
}


@media only screen and (max-width: 480px) {
    .articles-main-content{
        margin: 0;
        margin-top: 175px;
    }
    .metaTag p{
        margin: 0;
        margin-bottom: 45px;
    }
    .image-panels{
        display: block;
    }
    .news-info{
        margin-bottom: 5px;
    }
    .news-info h2{
        font-family: 'IBM-Bold';
        font-size: 1.05em;
     }

}
