/** 
 * ACTUALITÉS SINGLE PAGE STYLE
 */



.news-main-content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 3em;
    margin-top: 175px;
}

.info {
    display: block;
    font-size: 0.95em;
    line-height: 1.35em;
    color: var(--color-lightBlue);
    margin-top: 50px;

}

.info p {
    color: var(--color-lightBlue);
    margin: 0;
}

.authors {
    display: inline;
}

.authors p {
    display: inline;
}

.metaTag {
    display: inline;

}

.metaTag p {
    display: inline;
    text-decoration: underline;
    color: var( --color-sanFrancisco);
}

.side-image {
    margin-top: 50px;
}

.articleMainContent {
    display: block;
    max-width: 1080px;
}

.articleMainContent h1 {
    line-height: 1em;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 85%;
}

.articleMainContent h4 {
    font-family: 'IBM-Bold';
    font-size: 1.75em;
    margin: 0;
    margin-bottom: 10px;
}

.articleMainContent ul {
    font-family: 'IBM-italic';
    list-style-type: square;
    font-size: 1.20em;
}

.sub-title {
    font-family: 'IBM-Italic';
    font-size: 1.25em;
    color: var(--color-oranges);
    width: 85%;
    margin-bottom: 2em;
}

.sub-title h2 {
    color: var(--color-oranges);
}

.articleMainContent p {
    font-size: 1.25em;
    color: var(--color-skyBlue);
    margin: 0;
    margin-bottom: 0.35em;
}


@media only screen and (max-width: 1024px) {
    .articleMainContent p {
        width: 100%;
        margin: 0;
        margin-bottom: 0.35em;
    }

    .news-main-content {
        display: block;
    }

    .sub-title {
        font-size: 0.95em;
        width: 80%;
    }

    .articleMainContent p {
        font-size: 1.25em;
        line-height: 1.35em;
        width: 100%;
    }
}


@media only screen and (max-width: 480px) {
    .news-main-content {
        display: block;
    }

    .sub-title {
        font-size: 0.95em;
        width: 100%;
    }

    .articleMainContent p {
        /*font-size: 0.825em;*/
        font-size: 17px;
        line-height: 1.5em;
        width: 100%;
    }

    .info {
        margin-top: 25px;
        font-size: 0.85em;
    }

    .side-image {
        margin-top: 15px;
    }

    .news-main-content h1 {
        font-size: 1.75em;
    }

    .articleMainContent h1 {
        font-size: 1.75em;
        width: 100%;
    }

    .articleMainContent img {
        width: 100%
    }

    .metaTag p {
        width: 100%;
    }

    .articleMainContent h4 {
        font-size: 1.5em;
    }

}