/**
 * Tag filtered page css
 */


.main-content{
    margin-top: 175px;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 1080px;
}

.main-content p{
    font-size: 1.25em;
}

.main-content h1{
    font-size: 39.2px;
    margin-bottom: 65px;
}

.main-content h2{
    font-family: 'IBM-Bold';
    font-size: 39.2px;
    color: var(--color-skyBlue);
    margin: 0;
    margin-bottom: 45px;
}

.main-content ul{
    padding: 0%;
}

.article-link {
    font-family: 'IBM-Bold';
    font-size: 1.75em;
}
.article-link a{
    color: var(--color-skyBlue);
}

.sub-title{
    font-family: 'IBM-Italic';
    font-size: 1.25em;
    color: var(--color-oranges);
    width: 75%;
    margin:0;
    margin-bottom: 2em;
}

.sub-title h2{
    color: var(--color-oranges);
}


@media only screen and (max-width: 480px) {
    .main-content{
        margin: 0;
        margin-top: 175px;
    }

    .main-content h1{      
        font-size: 32px;
        margin-bottom: 15px;
    }
    .main-content h2{
        font-size: 32px;
        margin-bottom: 75px;
    }

    .article-link{
        font-size: 1.5em;
    }
    .sub-title {
        width: 100%;
    }
    .main-content p{
        font-size: 16px;
    }

}