/**
 * Footer Styling
 */



footer {
    font-family: 'IBM-Light';
    color: var(--color-skyBlue);
    display: block;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 175px;
    margin-bottom: 4%;
    margin-top: 10%;
    
    margin-left: 10%;
    margin-right: 10%;
    max-width: 1600px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.65em;
    row-gap: 0px;
    margin-top: 15px;
}

.address {
    width: 100%;
}

.legal {
    width: 90%;
}

.content p {
    font-size: 0.85em;
    margin: 0px;
    margin-bottom: 0.5%;
    line-height: 1.5em;
}

.content a:link{
    color: var(--color-sanFrancisco);
}

.content a:hover{
    color: var(--color-oranges);
   }

.links-legal {
    color: var(--color-sanFrancisco);
}

.social{
    display: inline;
}


.icon-footer{
    /*display: inline;*/
    color: var(--color-sanFrancisco); 
    margin-right: 3%; 
}

.footer-button{
    
    font-family: 'IBM-Bold';
    border: 1px solid  white;
    background-color: var(--color-skyBlue);
    color: white;
    border-radius: 0.15rem;
    font-size: 0.85em;
    text-transform: uppercase;
    margin: 0.25em;
    margin-left: 0;
    padding: 5px 15px 5px 15px;
  }
  
  .footer-button:hover{
    cursor: pointer;
    color: var(--color-sanFrancisco);
  }


@media only screen and (max-width: 1024px) {
    footer {
        height: 150px;
    }

    .address {
        width: 55%;
    }

    .legal {
        width: 75%;
    }

    .content p {
        font-size: 0.65em;
    }
}

@media only screen and (max-width: 480px) {
    .footer{
        margin: 0;
        margin-top: 50px;
        height: 375px;
    }
    .footer p{
        font-size: 1.0em;
    }
    .content{
        display: block;
        
    }

    .address {
        width: 90%;
        margin-bottom: 25px;
    }

    .legal {
        width: 95%;
        margin-bottom: 25px;
    }

    .content p {
        font-size: 0.85em;
    }
    .links {
        font-size: 0.85em;      
    }
    .social{
        display: inline;
        align-items: center;
    }
    .social p{
        top: 25px;
    }
    .footer-button{
        font-size: 0.85em;        
        margin: 0;
        padding: 5px 15px 5px 15px;
      }
      .icon-footer{
          
      }

}