/**
 * IDENTITY SINGLE PAGE STYLING
 */


 .identity-main-content{
    margin-top: 175px;
    margin-top: 175px;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 1080px;
}

.identity-main-content h1{
    margin-bottom: 0.15em;
}


.identity-main-content p{
    font-size: 1.25em;
    color: var(--color-skyBlue);
    width: 80%;
    margin: 0;
    margin-bottom: 0.35em;
}

.identity-main-content h4{
    font-family: 'IBM-Bold';
    font-size: 1.75em;
    margin: 0;
    margin-bottom: 10px;
}

.identity-main-content ul{
    font-family: 'IBM-italic';
    list-style-type: square;
    font-size: 1.20em;
}

.sub-heading{
    font-family: 'IBM-Italic';
    font-size: 1.25em;
    color: var(--color-oranges);
    width: 80%;
    margin-bottom: 2em;
}


.image-panels{
    /*
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3em;
    row-gap: 0px;
    */
    padding: 0px;
    margin: 5% 0%;
}

.image-panel-image{
    width: 100%;
    object-fit: cover;
}

.image-panel-image img{
   width: 80%;  
   object-fit: cover;
}


.image-panel-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 35px;
    max-height: 480px;
    box-sizing: border-box;
    margin-bottom: 1em;
}

.image-caption{
    font-family: 'IBM-Bold';
    font-size: 1.05em;
    position: relative;
    align-content: center;
    top: 25%;
    width: 100%;
}

.bottom-page-infos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
    margin-top: 75px;
}

.bottom-page-infos p{
    font-size: 1.25em;
    color: var(--color-skyBlue);
    background-color: var(--color-oranges);
    -webkit-text-stroke-width: 1px;
    margin: 0.25em;
    padding-left: 2%;
}

/**
   * Mobile App 
   */

   @media only screen and (max-width: 1024px) {
    .identity-main-content p{
        font-size: 19px;
        width: 100%
    }
   }


   @media only screen and (max-width: 480px) {

    .identity-main-content{
        display: block;
        
        margin: 0;
        margin-top: 175px;
        margin-bottom: 10px;
    }
    .identity-main-content h1{
        font-size: 1.75em;
    }

    .identity-main-content h4{
        font-size: 1.5em;       
    }
    .identity-main-content p{
        font-size: 17px;
        line-height: 1.5em;
        width: 100%;
    }
    .image-panel-item{
        display: block;
    }
    .sub-heading{
        font-size: 0.95em;
        width: 100%;
    }

   }
