/**
 * HOME PAGE STYLING
 */


 .image-panels{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     gap: 3em;
     row-gap: 0px;
     padding: 0px;
 }

 .image-panel-img{
     width: 100%;
     object-fit: cover;
 }

 .image-panel-img img{
    width: 100%;  
    object-fit: cover;
}


 .image-panel-item{
     max-height: 480px;
     box-sizing: border-box;
 }

 li{
     list-style-type: none;
     list-style: none;
 }

 a{
    text-decoration: none;
 }

 .infos{
     margin-top: 15px;
 }
 .infos h2{
    font-family: 'IBM-Bold';
    font-size: 1.25em;
    line-height: 1.15em;
 }

 .title{
     min-height: 45px;
 }

 .title h2{
    font-family: 'IBM-Bold';
    font-size: 1.05em;
 }

 .subtitle{
     padding: 1px;
     color: var(  --color-oranges);
     font-size: 1.0em;
     line-height: 1.35em;
     overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 3;
 }

 @media only screen and (max-width: 1024px) {
    .infos h2{
        font-family: 'IBM-Bold';
        font-size: 0.85em;
     }
     .subtitle{
        font-size: 0.65em;
        line-height: 1.15em;
     }
}

@media only screen and (max-width: 480px) {
    .image-panels{
        display: block;
        margin-right: 5px;
    }
    .infos h2{
        font-family: 'IBM-Bold';
        font-size: 1.05em;
        line-height: 1.15em;
     }
     .title{
        min-height: 25px;
    }
    .subtitle{
        font-size: 0.75em;
        line-height: 1.05em;
     }
}