/**
 * Mobile Navigation CSS
 */

 .mobile-nav-bar{
     display: none;
 }

.nav-bar-burger {
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    color: black;
    display: none;
}



@media only screen and (max-width: 480px) {

    .mobile-nav-bar {
        display: inline-block;
        position: fixed;
        top: 0px;
        width: 100vw;
        height: 0px;
        z-index: 3;
    }

    .nav-links {
        display: block;
        text-align: left;
        padding: 0 0.3rem;
    }

    .nav-elms{
        visibility: visible;
        position: relative;
        top: -375px;
        transition-property: top;
        transition: 0.3s;
        transition-timing-function: cubic-bezier(.4, 0, .2, 1);
        transition-delay: 0.2s;
    }

    .nav-link {
        display: block;
        flex-direction: column;
        text-align: center;
        margin-bottom: 15px;
        height: 0px;
        transition-property: height;
        transition: 0.4s;
        transition-timing-function: cubic-bezier(0.6, 0, .2, 1);
        transition-delay: 0.2s;
        padding-top: 1.2rem;
        padding-left: 5%;
        font-family: 'IBM-Bold';
        font-size: 1.45em;
        color: var(--color-corporateBlue);
        background-color: var(--color-sanFrancisco);
       
       
    }

    .nav-link-mail{
        color: var(--color-corporateBlue);
    }

    .show-menu .nav-elms{
        top: 95px;
    }

    .show-menu .nav-link{        
        height: 75px;
        
    }


    .nav-bar-burger {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;

    }

    .nav-bar-burger:hover {
        cursor: pointer;
    }


    .burger-bar,
    .burger-bar::before,
    .burger-bar::after {
        display: block;
        width: 40px;
        height: 4px;
        position: relative;
        top: 10px;
        border-radius: 2px;
        background-color: black;
        transition: all .5s ease-in-out;
    }

    .burger-bar::before,
    .burger-bar::after {
        content: "";
        position: relative;
        left: 0;
    }

    .show-menu .burger-bar{
        width: 0;
        background: transparent;
    }

    .burger-bar::before {
        transform: translateY(-20px);
    }

    .burger-bar::after {
        transform: translateY(-4px);
    }

    .show-menu .burger-bar::before {
        transform: rotate(90deg);
        top: 13px;
    }

    .show-menu .burger-bar::after {
        transform: rotate(180deg);
    }
}