/**
 * Modalities pages styling
 */


 .modalities-main-content{
    margin-top: 175px;
}

.modalities-main-text{
    /*
    grid-template-columns: 1fr 1fr;
    column-gap: 3em;
    */
    margin-top: 175px;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 1080px;
}

.modalities-main-text p{
    font-size: 1.25em;
}

.modalities-main-text h1{
    font-size: 39.2px;
}

.modalities-main-text h4{
    font-family: 'IBM-Bold';
    font-size: 1.75em;
    margin: 0;
    margin-bottom: 10px;
}

.modalities-main-text ul{
    font-family: 'IBM-italic';
    list-style-type: square;
    font-size: 1.05em;
    width: 85%;
}


.sub-title{
    font-family: 'IBM-Italic';
    font-size: 1.25em;
    color: var(--color-oranges);
    width: 80%;
    margin-bottom: 2em;
}

.sub-title h2{
    color: var(--color-sanFrancisco);
}

.sideSection{
    margin-bottom: 60px;
}

.modalities-main-text img{
    width: max-content;
}

.bottom-page-infos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
    margin-top: 75px;
}

.bottom-page-infos p{
    font-size: 1.25em;
    color: var(--color-skyBlue);
    background-color: var(--color-oranges);
    -webkit-text-stroke-width: 1px;
    margin: 0.25em;
    padding-left: 2%;
}

/**
   * Mobile App 
   */

   @media only screen and (max-width: 1024px) {
    .modalities-main-text{
        font-size: 1.25em;
        display: block;
        /*
        grid-template-columns: 1fr 1fr;
        column-gap: 3em;
        */
        margin-left: 10%;
        margin-right: 10%;
        width: 90%;
    }
    .sub-title{
        font-size: 1.05em;
        width: 80%;
    }
}


@media only screen and (max-width: 1024px) {
    .modalities-main-text p{
        font-size: 0.95em;
        width: 100%
    }
   }

@media only screen and (max-width: 480px) {

    .modalities-main-content{
        display: block;
        margin-bottom: 10px;
    }
    .modalities-main-text{
        margin: 0;
        margin-top: 175px;
        width: 100%;
    }
    .modalities-main-text h1{
        font-size: 1.75em;
    }

    .modalities-main-content h4{
        font-size: 1.5em;      
    }
    .modalities-main-content p{
        font-size: 17px;
        line-height: 1.5em;
        width: 100%;
    }
    .modalities-main-text ul{
        font-family: 'IBM-italic';
        list-style-type: square;
        font-size: 0.90em;
    }
    .sub-title{
        font-size: 0.95em;
        width: 100%;
    }
   }