/**
 * Desktop Navigation CSS
 */


 .side-nav-bar {
    background-color: var(--color-skyBlue);
    position: fixed;
    cursor: pointer;
    width: 60px;
    height: 100%;
    transition-property: width;
    transition: 0.4s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-delay: 0.5s;
    z-index: 3;
}

.nav-bar-button{
    display: block;
    position: relative;
    width: 45px;
    cursor: pointer;
 }

 .nav-bar-icons{
    position: fixed;
     top: 175px;
     left: 60px;
     width: 45px;
     z-index: 10;
     color: var(--color-sanFrancisco);
 }

.side-nav-links {
    display: block;
    padding: 0;
    margin-top: 230px;
}

.side-nav-elms {
    font-family: 'IBM-light';
    font-size: 26px;
    color: white;
    text-align: left;
    justify-content: center;
    padding: 11px 50px;
    margin-left: 15px;
    width: 50px;
    height: 100%;
    transition-property: width;
    transition: 0.5s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-delay: 0.3s;
    /*visibility: hidden;*/

}

.side-nav-link {
    transition-property: transparency;
    transition: 0.9s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-delay: 0.3s;
    color: rgba(0, 0, 0, 0);   
    padding: 0;
    margin: 0;
    visibility: hidden;
}

svg {
    width: 1.5rem;
}

.icon-home{
    position: relative;
    left: -50px;
    top: 66px;
    margin-bottom: 17px;     
}




/* mouse interactions */

.show-side-menu .side-nav-bar{
    width: 275px;
}

.show-side-menu .side-nav-link{
    visibility: visible;
    color: rgba(255, 255, 255, 1.0); 
}

.show-side-menu .side-nav-elms{
    width: 275px;
}

.side-nav-link:hover{
    transition-property: none;
    transition: none;
    color: var(--color-oranges);
}


@media only screen and (max-width: 480px) {
    .nav-bar-button{
        display: none;
    }
    

}