/**
 * Main desktop header css
 */

.nav-bar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: 74px;
    background-color: blue;
}

.navLinks{
    font-size: 1.5em;
    display: flex; 
    flex-wrap: wrap;  
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.nav-elms {
    color: white;
    
}

.nav-link{
    padding: 0 0.3rem;
}

.nav-bar-burger{
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    color: black;
    display: none;
}

@media only screen and (max-width: 480px) {
   .navLinks{
       flex-direction: column;
       justify-content: center;
       left: 0;
       right: 0;
       text-align: left;
       padding: 2rem;
       height: 100vh;
   }

   .nav-link{
       display: block;
       padding: 1.5rem;
       font-size: 7vw;
   }

   .nav-bar-burger{  
       display: block;
       position: absolute;
       top: 1rem;
       right: 1rem;
       /*margin-right: 50px;$*/
   }

   .nav-bar-burger:hover{
       cursor: pointer;
   }


   .burger-bar, 
   .burger-bar::before,
   .burger-bar::after{
        display: block;
        width: 40px;
        height: 3px;
        position: relative;
        top: 20px;    
        border-radius: 3px;
        background-color: white;
   }

   .burger-bar::before,
   .burger-bar::after{
    content: "";
    position: relative;
    left: 0;
   }

   .burger-bar::before{
        transform: translateY(-6px);
   }

   .burger-bar::after{
        transform: translateY(6px);
   }

}







